*{
    margin: 0px;
    padding: 0px;
}
body {
    flex-wrap:wrap;
}
header {
    margin: 0px;
    padding: 5px;
}
.AidNet {

    border: none;
    margin: calc(2rem -  0.14285714em ) 0em 1rem;
    padding: 0em 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 500%;
    font-weight: bold;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgb(255, 255, 255);
}
  #a {
      position: relative;
      background-image:url(images/image.jpg);
      background-position: center center;
      background-size: cover;
      color: #fff;
      margin: 0rem 0em;
      padding: 1em 2em;
  }
article {
    margin: 2em;
    margin-left: 70px;
} 
p {
      font-size: 20px;
}
#container {
    margin: 3em;
    margin-top: 0;
    padding: 2em;
    width: 93%;
    justify-items: stretch;
    align-items: stretch;
}
#wrap {
    display: flex;
    flex-wrap: wrap;
}



.wrapper {
    margin: 0em 2em;
    display: flex;
    flex-wrap: wrap;
    flex:2;

}
.wrapper > div{
    margin: 2em;
    padding: 2em;
    height: fit-content;
}

footer {
    padding: 0em 2em;
    background-color: rgb(27, 15, 59);
    color: #fff;
}












